.cart {
    margin: 50px 0px;
    &__header {
        margin: 28.7px 0px 60px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;

        h5 {
            font-size: 32px;
            text-align: center;

        }
    }
}
.cardcart {
    display: flex;
    flex-direction: row;
    height: 230px;
    width: 100%;
    margin: 0px 0px 30px 0px;

    .img {
        width: 250px;
        height: 220px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
        .over{
            position: absolute;
            width: 100px;
            height: 100px;
            display: inline-block;
            top: -20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .contenet {
        padding: 15px 15px 0px 15px;
        width: calc(100% - 250px);
        height: 220px;
        background-color: rgba(242, 242, 242, 0.36);
        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            h6 {
                font-size: 20px;
                text-align: right;
                color: #655959;
            }

            .heart {
                width: 20px;
                height: 20px;
                border: none;
                background-color: transparent;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .price {
            margin: 15px 0px;
            display: block;
            font-size: 18px;
            color: #ff5069;
            .overprice{
                font-size: 16px;
                color: #898989;
                font-weight: normal;
                text-decoration: line-through;
            }
        }


        .color,
        .size {
            margin: 15px 0px;
            display: block;

            span {
                font-size: 16px;
                font-weight: normal;

                &:first-of-type {
                    color: #9f9f9f;
                }

                &:last-of-type {
                    color: #000;
                }
            }
        }
    }
}

.orderdetails {
    padding: 10px;
    background-color: rgba(242, 242, 242, 0.36);
    margin: 0px 20px;

    h6 {
        font-size: 24px;
        color: #a7a7a7;
        margin-bottom: 10px;
    }

    .input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0px;

        input {
            width: calc(100% - 130px);
            height: 40px;
            font-size: 14px;
            background-color: #efefef;
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 5px;
        }

        button {
            width: 110px;
            height: 40px;
            flex-grow: 0;
            border-radius: 5px;
            background-color: #868558;
            color: #fff;
            font-size: 14px;
            padding: 5px;
            outline: none;
            border-color: transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        font-size: 16px;
        font-weight: normal;
        color: #000;
    }


    .btn-done {
        width: 100%;
        height: 40px;
        flex-grow: 0;
        border-radius: 10px;
        background-color: #868558;
        margin: 30px 0px;
        outline: none;
        border-color: transparent;
        color: #fff;
        font-size: 14px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}

.Ar {
    .cart {
        direction: rtl;
    }
    .cardcart {
        .img {
            .over{
                right: 0;
            }
        }
        .contenet {
            .color,
            .size {
                span {
                    &:first-of-type {
                        margin-left: 40px;
                    }
                }
            }
            .price {
                .overprice{
                    margin-left: 10px;
                }
            }
        }
    }
}

.En {
    .cart {
        direction: ltr;
    }
    .cardcart {
        .img {
            .over{
                left: 0;
            }
        }
        .contenet {
            .color,
            .size {
                span {
                    &:first-of-type {
                        margin-right: 40px;
                    }
                }
            }
            .price {
                .overprice{
                    margin-right: 10px;
                }
            }
        }
    
    }
}

@media screen and (max-width: 991px) {
    .cart {
        margin: 30px 0px;
        &__header {
            margin: 30px 0px ;
            h5 {
                font-size: 28px;
            }
        }
    }
    .cardcart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        margin: 15px auto;

        .img {
            width: 95%;
            height: 280px;
        }

        .contenet {
            padding: 10px ;
            width: 95%;
            height: auto;

            .top {
                margin-bottom: 10px;

                h6 {
                    font-size: 16px;
                }

                .heart {
                    width: 20px;
                    height: 20px;
                }
            }

            .price {
                margin: 10px 0px;
                font-size: 16px;
            }


            .color,
            .size {
                margin: 10px 0px;

                span {
                    font-size: 14px;

                    &:first-of-type {
                        margin-left: 20px;
                    }

                }
            }
        }
    }
    .orderdetails {
        width: 80%;
        margin: 15px auto;
    
        h6 {
            font-size: 22px;
        }
    
        .input {
            margin: 20px 0px;
        }
    
        .item {
            font-size: 16px;
        }
    }
}  

// 1- 2- Style Footer Component To Media Queris Samll.
@media screen and (max-width: 576px) {
    .cart {
        &__header {
            h5 {
                font-size: 24px;
            }
        }
    }
    .cardcart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 15px auto;

        .img {
            width: 100%;
            height: 250px;
            .over{
                position: absolute;
                width: 80px;
                height: 80px;
                display: inline-block;
                top: -15px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .contenet {
            padding: 10px ;
            width: 100%;
            height: auto;
        }
    }
    .orderdetails {
        h6 {
            font-size: 20px;
        }
    
        .input {
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            input {
                width: 100%;
                height: 40px;
                font-size: 14px;
                margin-bottom: 10px;
            }
    
            button {    
                width: 150px;
                height: 35px;
                font-size: 13px;
                padding: 0px;
                outline: none;
                border-color: transparent;
            }
        }
    
        .item {
            font-size: 14px;
        }
        .btn-done {
            display: block;
            width: 90%;
            height: 35px;
            margin: 35px auto;
    }
    }
}