.profile {
  margin: 50px 0px;
  &__data {
    width: 50%;
    margin: 0px auto;
    .profile__header {
      h3 {
        text-align: center;
      }
    }
    .imageinput {
      width: 100%;
      height: auto;
      margin: 0px auto;
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imgcover {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        .img-one {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid #dbdbdb;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
}

        img {
          width: 100%;
          height: 100%;
        }

        .imginput {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 35px;
          height: 30px;
          z-index: 1;
          cursor: pointer;

          input {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }

      .btn_save_img {
        margin: 10px 0px;
        background-color: #868558;
        color: #fff;
        line-height: 35px;
        border-radius: 12px;
        border-color: transparent;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        width: 140px;
        height: 35px;
        line-height: 32px;
      }
    }
    .itemdatashow {
      border-bottom: 1px solid #ddd;
      width: 100%;
      padding: 20px 0px;
      font-size: 16px;
      font-weight: normal;
      color: #000;

      .btn_password {
        background-color: transparent;
        border-color: transparent;
        font-size: 16px;

        img {
          width: 27.1px;
          height: 22.3px;
          object-fit: contain;
        }
      }
    }
    .buttons {
      margin: 50px 0px;
      text-align: center;

      .edite-button {
        width: 100px;
        height: 40px;
        flex-grow: 0;
        border-radius: 12px;
        background-color: #868558;
        color: #fff;
        display: block;
        margin: 0px auto;
        line-height: 35px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        &:hover{
          color: #fff !important;
        }
}

      .btn-remove,
      .btn-save {
        width: 100px;
        height: 40px;
        border-radius: 12px;
        margin: 0px 10px;
        display: inline-block;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}

      .btn-save {
        background-color: #868558;
        color: #fff;
        border-color: transparent;
      }

      .btn-remove {
        border: 1px solid #868558;
        background-color: white;
        color: #868558;
      }
    }
    .input {
      border-bottom: 1px solid #ddd;    
      padding: 35px 0px;
      label {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        color: #000;
        margin-bottom: 15px;
      }

      .imageinput {
        border: none;
        padding: 0px;
        .imgcover {
          display: inline-block;
          position: relative;
          width: 120px;
          height: 120px;
          border-radius: 50%;

          .img-one {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 1px solid #dbdbdb;
          }

          img {
            width: 100%;
            height: 100%;
          }

          .imginput {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 35px;
            height: 30px;
            z-index: 1;
            cursor: pointer;

            input {
              position: absolute;
              bottom: 0px;
              right: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
            }
          }
        }
      }

      input {
        border-radius: 20px;
        border: solid 1px #ccc;
        padding-left: 10px;
        padding-right: 10px;
      }

      .btn_password {
        background-color: transparent;
        border-color: transparent;
        font-size: 16px;

        img {
          width: 27.1px;
          height: 22.3px;
          object-fit: contain;
        }
      }
    }
    .input-control-password{
      border-bottom: none !important;
    }
  }
}

.modalpassword {
  padding: 10px 0px;

  .modal-header {
    direction: ltr;
    display: block;
    text-align: left;
    border-color: transparent;

    .btn-close {
      width: 14px;
      height: 14px;
      padding: 0px;
    }
  }

  .modal-body {
    .image {
      width: 180px;
      height: 60px;
      margin: 0px auto 20px auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h4 {
      font-size: 22px;
      font-weight: normal;
      text-align: center;
      color: #000;
      margin: 6px 0px 20px 0px;
    }

    input {
      height: 50px;
      background-color: #f6f6f6;
      border-radius: 5px;
      min-width: 351px !important;
      max-width: 90% !important;
      height: 51px;
      margin: 16px auto 16px auto;
      border-color: transparent;
    }

    .btn-save {
      min-width: 351px !important;
      max-width: 90% !important;
      height: 41px;
      background-color: #d96670;
      color: #fff;
      border-color: transparent;
      display: block;
      margin: 42px auto 70px auto;
      border-radius: 5px;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
    }
  }
}
.Ar {
  .profile {
    &__data {
      .itemdatashow {
        text-align: right;
  
        .btn_password {
          direction: rtl;
          text-align: right;     
          img {
            margin-left: 10px;
          }
        }
      }
  
      .buttons {
        direction: rtl;
      }
  
      .input {
        text-align: right;
        label {
          text-align: right;
        }
        input {
          text-align: right;
        }
  
        .btn_password {
          direction: rtl;
  
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.En {
  .profile {
    &__data {
      .itemdatashow {
        text-align: left;
  
        .btn_password {
          direction: ltr;
          text-align: left;  
          img {
            margin-right: 10px;
          }
        }
      }
  
      .buttons {
        direction: ltr;
      }
  
      .input {
        text-align: left;
        label {
          text-align: left;
        }
        input {
          text-align: left;
        }
  
        .btn_password {
          direction: ltr;
  
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }}







// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .Ar,.En{
    
  .profile {
    &__data {
      width: 75%;
    }
  }
}
}


// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 576px) {
  .Ar,.En{ .profile {
    &__data {
      width: 80%;
    }
  }
}}