.fillter {

    &__categories,
    &__price {
        margin-bottom: 20px;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 20px;
    }

    &__categories,
    &__city {
        >ul {
            max-height: 260px;
            overflow-y: auto;
        }
    }
}

.fillter_control {
    .fillter {
        background-color: #ffffff;
        .btn_removeall {
            font-size: 18px;
            font-weight: 600;
            color: var(--primary-three-color);
            padding: 7px 41px;
            border-radius: 25.5px;
            box-shadow: 5px 3px 24px 0 rgba(0, 0, 0, 0.09);
            border: solid 1px var(--primary-three-color);
            margin: 50px auto;
            display: block;
            transition: all 2s;

            &:hover {
                background-color: var(--primary-three-color);
                color: var(--white-color);
            }
        }

        .title {
            margin: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-size: 18px;
                font-weight: bold;
                color: #222;
                margin: 20px 0px;
            }

        }

        ul {
            li {
                width: 100%;
                display: block;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 5px 0px;

                input {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    border-radius: 5px;
                    margin-left: 10px;
                    border-color: #c0c0c0;
                }

                label {
                    color: #c0c0c0;
                }

            }
        }

        .accordion-button {
            font-size: 16px;

            input {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                border-radius: 5px;
                margin-left: 10px;
                border-color: #c0c0c0;
                accent-color: #5c6349 !important;
                display: block !important;
                color: white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                +label {
                    color: #c0c0c0;
                }
            }

            label {
                color: #c0c0c0;
            }
            input.active{
                +label {
                    color: #333;
                }

            }
        }

        .accordion-button {
            padding: 15px 0px;
            position: relative;

            &:focus-visible {
                outline: none !important;
            }

            &:focus {
                border-color: transparent !important;
                box-shadow: none !important;
            }

            &:not(.collapsed) {
                background-color: white;
                box-shadow: none;

                &::after {
                    transform: none;
                    content: "-";
                    background-image: none !important;
                    color: #333;
                }
            }

            &::after {
                flex-shrink: 0;
                font-size: 16px;
                margin-left: auto;
                content: "+";
                background-image: none !important;
                transition: all 0.2s ease-in-out;
                left: 0%;
                color: #c0c0c0;
                position: absolute;
            }
        }

        .accordion-body {
            padding: 3px 20px;
        }

        .accordion-button-noafter {

            &:not(.collapsed) {

                &::after {
                    display: none;
                }
            }

        }

        &__price {
            #btn-removeall {
                img {
                    width: 20px;
                    height: 24px;
                }
            }

            .multi-range-slider {
                box-shadow: none !important;
                border: none !important;
                direction: ltr;

                .bar-left,
                .bar-right {
                    box-shadow: none !important;
                    height: 10px;
                    border-radius: 4px;
                    opacity: 0.4;
                    background-color: var(--primary-three-color);
                }

                .bar-inner {
                    background-color: var(--primary-three-color);
                    display: flex;
                    flex-grow: 1;
                    flex-shrink: 1;
                    justify-content: space-between;
                    position: relative;
                    border: solid 1px var(--primary-three-color);
                    box-shadow: none !important;
                }

                .thumb {
                    &::before {
                        content: '';
                        background-color: var(--primary-three-color);
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        border: solid 1px var(--primary-three-color);
                        box-shadow: none;
                        border-radius: 50%;
                        z-index: 1;
                        margin: -3px;
                        cursor: pointer;
                    }
                }
            }

            .textinp {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                    font-size: 14px;
                    color: #c0c0c0;
                    direction: ltr;
                }
            }
        }
    }

    .btn-filter {
        display: none;
    }
}

.buttons-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    .btn_search_price {
        //width: 100px;
        font-size: 14px;
        font-weight: 500;
        background-color: var(--primary-three-color);
        color: var(--white-color);
        border-radius: 25.5px;
        box-shadow: 5px 3px 24px 0 rgba(0, 0, 0, 0.09);
        transition: all 2s;
        -webkit-border-radius: 25.5px;
        -moz-border-radius: 25.5px;
        -ms-border-radius: 25.5px;
        -o-border-radius: 25.5px;

        padding: 3px 40px;
    }

}

.Ar {
    .fillter_control {

        .fillter {
            font-family: var(--font-ar);
        }
    }
}

.En {}


// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 991px) {

    .fillter_control {
        overflow-y: scroll;
        position: fixed;
        z-index: 10;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;

        .fillter {
            position: absolute;
            width: 90%;
            top: 30px;
            left: 50%;
            padding: 20px;
            transform: translate(-50%, 30px);
            -webkit-transform: translate(-50%, 30px);
            -moz-transform: translate(-50%, 30px);
            -ms-transform: translate(-50%, 30px);
            -o-transform: translate(-50%, 30px);


            .btn_search {
                display: block;
            }
        }


    }

    .hidefillter {
        opacity: 0;
        visibility: hidden;
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
    }

    .showfillter {
        opacity: 1;
        visibility: visible;
        display: block;
        background-color: #ededed;
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
    }

    .languagear {
        .hidefillter {
            right: -100%;
        }

        .showfillter {
            right: 0%;
        }
    }

    .languageen {
        .hidefillter {
            left: -100%;
        }

        .showfillter {
            left: 0%;
        }
    }
}