.paymentdone {
  margin: 50px 0px;

  &__header {
    margin: 40px 0px;

    img {
      width: 70px;
      height: 70px;
      margin: 0px auto;
      display: block;
    }

    h3 {
      font-size: 36px;
      font-weight: normal;
      text-align: center;
      color: #000;
      margin: 20px 0px 40px 0px;
    }

    button {
      width: 249px;
      height: 53px;
      border-radius: 12px;
      background-color: #868558;
      text-align: center;
      color: #fff;
      margin: 0px auto;
      display: block;
      border-color: transparent;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__row {
    margin: 50px 0px;

    .orderdetiles {
      padding: 30px 20px;
      border-radius: 30px;
      border: solid 2px #bebebe;
      margin: 30px 0px;

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        h6 {
          font-size: 22px;
          font-weight: 500;
          color: #000;
        }

        .btn-done {
          padding: 5px 25px;
          border-radius: 5px;
          font-size: 14px;
          color: #fff;
          background-color: #c5c5c5;
          border-color: transparent;

          &:hover {
            border-color: transparent;
          }
        }
      }

      .ordercontener {
        border: solid 2px #bebebe;
        padding: 10px 15px;
        border-radius: 20px;
        position: relative;
        color: #000;
        margin: 30px 0px;
        height: 180px;

        .top {
          padding: 5px 30px;
          background-color: #fff;
          position: absolute;
          top: -15%;
          font-size: 18px;
          z-index: 1;
        }

        .text,
        .number {
          display: block;
          margin: 15px 10px;
        }

        

        .item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 15px 10px;
          font-size: 16px;
          font-weight: normal;
          color: #000;
        }

        .cash {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;

          img {
            width: 39.4px;
            height: 39.4px;
            margin-left: 10px;
          }

          span {
            color: #000;
            font-size: 16px;
            font-weight: 600;
          }
        }

      }
    }
  }

  .linkshipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    .itemlink {
      display: flex;
      flex-direction: column;

      .top {
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
        height: 44px;

        .img {
          width: 44px;
          height: 44px;
          background-color: #b0b0b0;
          border-radius: 50%;
        }
        
        .imggray{
          opacity: .7;
        }
      }

      .bottom {
        font-size: 14px;
        font-weight: normal;
        color: #b0b0b0;
        margin-top: 10px;
      }
    }

    .linkcontener {
      height: 44px;
      display: flex;
      align-items: center;
      width: 10%;

      .line {
        width: 100%;
        height: 3px;
        background-color: #c5c5c5;
      }
    }

  }
}

.Ar {
  .paymentdone {
    direction: rtl;

    &__row {
      .orderdetiles {
        .cashordercontener {
          .cash {
            img {
              margin-left: 10px;
            }
          }
          .number {
            direction: rtl;
          }
        }
      }
    }


    .linkshipping {
      .itemlink {
        .img {
          margin-left: 10px;
        }
      }
    }
  }
}

.En {
  .paymentdone {
    direction: ltr;

    &__row {
      .orderdetiles {
        .cashordercontener {
          .cash {
            img {
              margin-right: 10px;
            }
          }
          .number {
            direction: ltr;
          }
        }
      }
    }

    .linkshipping {
      .itemlink {
        .img {
          margin-right: 10px;
        }
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .paymentdone {
    margin: 30px 0px;
    &__header {
      margin: 20px 0px;

      img {
        width: 60px;
        height: 60px;
      }

      h3 {
        font-size: 28px;
        margin: 20px 0px;
      }

      button {
        width: 220px;
        height: 45px;
      }
    }
    &__row {
      margin: 20px 0px;

      .orderdetiles {
        padding: 20px 15px;
        border-radius: 15px;
        margin: 15px 0px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        .title {
          margin-bottom: 20px;

          h6 {
            font-size: 20px;
          }

          .btn-done {
            padding: 5px 20px;
          }
        }

        .ordercontener {
          padding: 10px 15px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;

          .top {
            padding: 5px 15px;
            font-size: 16px;
          }

          .item {
            font-size: 14px;
          }


        }
      }
    }
  }

  .paymentshipping {
    .container {
      display: flex;
      flex-direction: row;
    }

    .linkshipping {
      flex-direction: column !important;
      width: 15%;
      margin: 10px;
      min-height: auto ;
      max-height: 100vh;

      .itemlink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .top {
          font-size: 14px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 65px;

          .img {
            width: 44px;
            height: 44px;
            background-color: #b0b0b0;
            border-radius: 50%;
          }
        }

        .bottom {
          font-size: 14px;
          font-weight: normal;
          color: #b0b0b0;
          margin-top: 10px;
        }
      }

      .linkcontener {
        width: 100%;
        display: flex;
        align-items: center;
        height: 10%;
        justify-content: center;
        margin: 10px 0px;

        .line {
          width: 3px;
          height: 100%;
          background-color: #c5c5c5;
        }
      }

    }
  }

  .Ar {
    .paymentdone {
      direction: rtl;

      .linkshipping {
        .itemlink {
          .img {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .En {
    .paymentdone {
      .linkshipping {
        .itemlink {
          .img {
            margin-right: 0px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {

  .paymentshipping {
    .linkshipping {
      max-height: 800px;
      min-height: auto;
.itemlink{
  .head{
    margin-top: 10px;
    font-size: 12px;
  }
  .bottom{
    font-size: 12px;
  }
}
    }
  }
  .paymentdone__row{
    margin: 0px !important;
    .orderdetiles {

      .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
          font-size: 16px;
        }

        .btn-done {
          padding: 5px 10px;
        }

      }
    }
  }

}