.empty-contener{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h5{
        font-size: 30px;
        font-weight: bold;
        color: #333;
        margin-bottom: 50px;
        text-align: center;
    }
    img{
        width: 96px;
        height: 96px;
        object-fit: contain;
    }
    p{
        margin-top: 16px ;
        font-size: 17px;
        font-weight: normal;
        text-align: center;
        color: #333;
    }

    .button-link{
        height: 45px;
        margin: 40px auto;
        border-radius: 10px;
        background-color: #868558;
        color: #fff;
        width: 200px;
        font-size: 14px;
        border-color: transparent;
        line-height: 42px;
    }

    img.img-address {
        filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
        -webkit-filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
        width: 80px;
    height: 80px;
}
}

.emptysearch {

    .img {
        width: 100%;
        text-align: center;
        margin: 50px auto;
        height: 80px;

        img {
            width: 65px;
            object-fit: contain;
            height: 100%;
            filter: invert(49%) sepia(11%) saturate(11%) hue-rotate(340deg) brightness(92%) contrast(90%);
            -webkit-filter: invert(49%) sepia(11%) saturate(11%) hue-rotate(340deg) brightness(92%) contrast(90%);
        }
    }

    p {
        font-family: Cairo;
        font-size: 17px;
        font-weight: normal;
        text-align: center;
        color: #939090;
        span{
            display: block;
        }
    }
}


// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 576px) {
    .empty-contener {
        margin: 30px auto;
    
        h5 {
            font-size: 24px;
        }
    
        .img {
            margin: 20px auto;
    
        }
    
        p {
            font-size: 14px;
        }
    }   
}