.navbar {
  min-height: 210px;
  max-height: auto;

  &__top {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
      width: 200px;
      height: 85px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bottom {
    width: 100%;

    .list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        flex-direction: row;
        align-items: center;

        .favort {
          display: inline-block;
          width: 24px;
          height: 28px;
          margin-right: 28px;
          text-align: center;

          img {
            width: 100%;
            height: 100%;
          }

        }

        .cart {
          display: inline-block;
          width: 24px;
          height: 31px;
          margin-right: 35px;
          text-align: center;

          img {
            width: 100%;
            height: 100%;
          }

        }

        .phone {
          height: 31px;
          font-size: 23px;
          filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
          }

          .text {
            font-size: 18px;
            margin-left: 10px;
          }

        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;

        .navbar__language {
          button {
            border: none;
            margin-right: 25px;
            background-color: white;

            img {
              width: 21px;
              height: 21px;
            }

            span {
              font-size: 18px;
              font-weight: normal;
              text-align: left;
              color: #868558;
              margin-right: 10px;
            }
          }
        }

      }
    }
  }

  // Navbar Bottom

  &__language {
    font-weight: normal;
    text-align: left;
    color: #868558;

    .btn {
      font-family: var(--font-ar);
      font-size: 22px;

    }
  }

  &__search {
    width: 260px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c3c2;
    direction: rtl;

    input {
      width: calc(100% - 24px);
      height: 40px;
    border: none;
    background-color: transparent;

    &:focus-visible {
      border: none;
      box-shadow: none;
      outline: none;
    }
    &:internal-autofill-selected{
      
    }
    }

    .btn-search {
      width: 23px;
      height: 40px;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: transparent;

      svg {
        filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);

      }
    }
  }

  .btn.show {
    background-color: transparent;
    border-color: transparent;
  }

  .btn {
    &:hover {
      border-color: transparent;
    }
  }
}


// login button

.navbar {
  &__bottom {
    .list {
      .left {
        .btn_user {
          display: inline-block;
          width: 23px;
          height: 28px;
          margin-right: 28px;
          border-color: transparent;
          background-color: transparent;
          &:hover{
            border-color: transparent;
            background-color: transparent;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }


        .dropdown {
          .dropdown-toggle {
            &:after {
              display: none;
            }
          }

          .dropdown-menu {
            width: 200px;

            .dropdown-item {
              color: #212529;

              &:active {
                background-color: white;
              }

              &:hover {
                background-color: white;
              }
            }
          }

        }
      }
    }
  }

  &__iconprofile {
    padding: 5px 0px;
    width: 250px !important;

    li {
      margin: 0px;

      a,
      button {
        color: #212529 !important;
        margin: 0px;
        display: inline-block;
        padding: 10px 0px;
        width: 95%;
        font-size: 14px;
      }

      a {
        border-bottom: 1px solid #cbc4c4;
      }

      .icon {
        width: 25px;
        height: 25px;
      }
    }

  }
}


.languagear {
  font-family: var(--font-ar);


  .navbar {
    &__bottom {
      .list {
        .left {
          .dropdown {
            direction: rtl;

            .dropdown-toggle {
              margin-right: 20px;
              padding: 0px;
            }

            .dropdown-item {
              text-align: right;
              direction: rtl;
            }
          }
        }
      }
    }

    &__iconprofile {

      li {

        a,
        button {
          text-align: right;
        }

        .icon {
          margin-left: 15px;
        }
      }

    }
  }
}

.languageen {

  .navbar {
    &__bottom {
      .list {
        .left {
          .dropdown {
            direction: ltr;

            .dropdown-toggle {
              margin-left: 20px;
              padding: 0px;
            }

            .dropdown-item {
              text-align: left;
              direction: ltr;
            }
          }
        }
      }
    }

    &__iconprofile {

      li {

        a,
        button {
          text-align: left;
        }

        .icon {
          margin-right: 15px;
        }
      }

    }
  }
}


// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .navbar {


    &__bottom {
      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .left {
          width: 100%;
          justify-content: space-around;
        }

        .right {
          width: 100%;
          justify-content: space-around;

        }
      }
    }

  }
}


// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 576px) {

  .navbar {
  
    &__top {
      width: 100%;
      height: 70px;
  
      a {
        width: 150px;
        height: 60px;
      }
    }

    
  &__bottom {
    width: 100%;

    .list {
      .left {
        .cart {margin-right: 15px;}

        .phone {
          font-size: 20px;
          .text {
            font-size: 16px;
          }

        }
      }
      .right {
        .navbar__language {
          button {
            margin-right: 0px;

            span {
              font-size: 16px;
              margin-right: 0px;
            }
          }
        }

      }
    }
  }

  
  &__search {
    width: 180px;
    padding-bottom: 5px;

    input {
      height: 30px;
    }

    .btn-search {
      height: 30px;
    }
  }
  }
}