.navbar-contener {
  padding: 0px;
}

.navbar {
  max-height: auto;
  &__top {
    width: 100%;
    .list {
      width: 100%;
      .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        width: 180px;
        // User Icon
        .btn_user {
          display: inline-block;
          width: 28px;
          height: 28px;
          border-color: transparent;
          background-color: transparent;

          &:hover {
            border-color: transparent;
            background-color: transparent;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .dropdown {
          .dropdown-toggle {
            &:after {
              display: none;
            }
          }

          .dropdown-menu {
            width: 200px;

            .dropdown-item {
              color: #212529;
              margin: 0px !important;
              &:first-of-type{
                button{
                  border-bottom: 1px solid rgba(196, 195, 194, 0.6);
                  padding-bottom: 10px;
                }

              }
              button{
                width: 80%;
                text-align: center;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                display: block;
                margin: 0px auto;
}
              &:active {
                background-color: white;
              }

              &:hover {
                background-color: white;
              }
            }
          }

        }

        // Icon Profile
        .navbar__iconprofile {
          padding: 5px 0px;
          width: 250px !important;

          li {
            margin: 0px;

            a,
            .btnlogout {
              color: #212529 !important;
              margin: 0px;
              display: inline-block;
              width: 85%;
              font-size: 14px;
              span{
                padding: 10px 0px 15px 0px;
                width: calc(100% - 40px);
                display: inline-block;
              }
            }

            a {
              span{
                border-bottom: 1px solid #cbc4c4;
              }
            }
            .btnlogout{
              margin: 0px;
              padding: 0px;
              span{
                border-bottom: none !important;
              }
            }
            .icon {
              width: 25px;
              height: 25px;
            }
          }

        }

        // Favort Icon
        .favort {
          display: inline-block;
          width: 24px;
          height: 28px;
          text-align: center;
          position: relative;

          span {
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: #c4c3c2 !important;
            color: #fff !important;
            top: -20%;
            right: -31%;
            border-radius: 50%;
            font-size: 11px;
            line-height: 18px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          img {
            filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
            width: 100%;
            height: 100%;
            -webkit-filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
          }

        }

        // Cart Icon
        .cart {
          display: inline-block;
          width: 24px;
          height: 31px;
          text-align: center;
          position: relative;

          span {
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: #c4c3c2 !important;
            color: #fff !important;
            top: -20%;
            right: -31%;
            border-radius: 50%;
            font-size: 11px;
            line-height: 18px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          img {
            filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
            width: 100%;
            height: 100%;
            -webkit-filter: invert(65%) sepia(3%) saturate(0%) hue-rotate(7deg) brightness(95%) contrast(96%);
          }

        }
      }
      .center {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
          width: 150px;
          height: 70px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right {
        height: 100px;
        display: flex;
        align-items: center;
      }
    }
  }
  // Navbar Bottom
  &__search {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    .disable-close-on-select{
      width: 180px !important;

    }
    .css-1a1fmpi-MuiInputBase-root-MuiInput-root,
    .css-1yf1g2m.Mui-focused{
    &:after {
      border-bottom: none !important;
  }
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused
,.css-348fk2.Mui-focused{
  color: #fff !important;
}

    >div{
      
      width: 180px !important;
  }
  }
  // Navbar Bottom Menunavbar
  &__menunavbar {
    width: 100%;

    .navbar-toggler {
      &:focus {
        box-shadow: none !important;
      }
    }

    ul {
      width: 100%;
      li {
        font-size: 14px;
      }
    }

    .d-flex {
      ul {
        display: flex;
        margin-bottom: 0px;

        li {
          display: flex;
          padding: 0px 10px;
          align-items: center;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }

          .text {
            color: #282828;
            font-size: 12px;
            font-weight: 500;
            margin: 0px 5px;
          }

          &:not(:first-child) {
            margin-right: 8px;
            border-right: 1px solid #cbc4c4;
          }
        }

        .not_active {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }
}

.Ar {
  font-family: var(--font-ar);

  .navbar {
    &__top {
      .list {
        .left {
          .dropdown {
            direction: rtl;

            .dropdown-toggle {
              margin-right: 45px;
              padding: 0px;
            }

            .dropdown-item {
              text-align: right;
              direction: rtl;
            }
          }
          // Favort Icon
        .favort {
          margin-right: 45px;
        }

        }
      }
    }

    &__iconprofile {

      li {

        a,
        button {
          text-align: right;
        }

        .icon {
          margin-left: 15px;
        }
      }

    }

    &__menunavbar {
      .container {
        direction: rtl;

        ul {
          direction: rtl;
          text-align: right;

          .dropdown-toggle {
            &::after {
              margin-right: 0.255em;
              margin-left: 0px;
            }
          }
        }
      }
      .d-flex {
        ul {
          li {
            &:not(:first-child) {
              margin-right: 8px;
              border-right: 1px solid #cbc4c4;
            }
          }
        }
      }
    }

    // Navbar Bottom
  &__search {
    direction: rtl;
    flex-direction: row;
  }
  }
}

.En{

  .navbar {
    
    &__top {
      .list {
        .left {
          .dropdown {
            direction: ltr;

            .dropdown-toggle {
              margin-right: 45px;
              padding: 0px;
            }

            .dropdown-item {
              text-align: left;
              direction: ltr;
            }
          }
          // Favort Icon
        .favort {
          margin-right: 45px;
        }

        }
      }
    }

    &__iconprofile {

      li {

        a,
        button {
          text-align: left;
        }

        .icon {
          margin-right: 15px;
        }
      }

    }

    &__menunavbar {
      .container {
        direction: ltr;

        ul {
          direction: ltr;
        }
      }
      .d-flex {
        ul {
          li {
            &:not(:first-child) {
              margin-left: 8px;
              border-left: 1px solid #cbc4c4;
            }
          }
        }
      }
    }
       // Navbar Bottom
  &__search {
    direction: ltr;
    flex-direction: row-reverse;
  }
  }
}

// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .navbar {
    &__top {
      .list {
        width: 100%;

        .left {
          width: 100%;
          justify-content: flex-start;
        }
        .center{
          width: 100%;
          justify-content: flex-end;
        }

      }
    }
 // Navbar Bottom
 &__search {
  >div {
    width: 100% !important;
}
}
  }
}

// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 576px) {
  .navbar {
    &__top {
      width: 100%;
      .list {
        width: 90%;
        margin: 0px auto;
        .left {
          width: 100%;
          justify-content: space-between;
        }
        .center {
          height: 100px;
          width: 100%;
          justify-content: center;
        }
        .right {
          width: 100%;
        }
      }
    }


    &__search {
      width: 100%;
    }
  }
}