.home {
    margin: 0px 0px 30px 0px;

    .headr {
        margin-bottom: 30px;

        h3 {
            text-align: center;
            color: var(--primary-three-color);
            font-size: 40px;
            margin-bottom: 40px;
        }

        span {
            display: block;
            margin: 0px auto 30px auto;
            width: 50%;
            height: 1px;
            background-color: #d7d7d7;
        }
    }

    &__slider {
        background-image: url(../../images/bg/header.png);
        width: 100%;
        height: 723px;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .overload {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: rgba(224, 184, 184, 0.2);
            z-index: 1;
        }

        .content {
            position: relative;
            z-index: 3;

            h2 {
                flex-grow: 0;
                margin-bottom: 11.2px;
                font-size: 60px;
                font-weight: normal;
                text-align: center;
                color: var(--primary-one-color);

            }

            p {
                font-size: 24px;
                font-weight: normal;
                text-align: center;
                color: var(--primary-two-color);
            }

            .btn {
                margin: 30px auto 0px auto;
                width: 186px;
                height: 58px;
                border-radius: 10px;
                background-color: var(--primary-three-color);
                text-align: center;
                font-size: 16px;
                font-weight: normal;
                color: #fff;
                display: block;
                line-height: 42px;
            }
        }
    }

    &__categories {
        margin: 100px 0px;
        font-family: var(--font-ar);

        &__row {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-evenly;
            align-items: center;

            .categories_card {
                width: 320px;
                height: auto;
                margin-bottom: 30px;

                .img {
                    height: 350px;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .text {
                    h6 {
                        color: #666b54;
                        text-align: center;
                        font-size: 30px;
                        margin: 20px 0px;
                        font-weight: normal;
                        color: #666b54;
                    }
                }
            }
        }
    }

    &__proudects {
        background-color: rgba(248, 220, 220, 0.2);
        padding: 100px 0px;

        .container {
            margin-top: 60px;
        }

        .show_all {
            display: block;
            width: 210.8px;
            height: 46.2px;
            flex-grow: 0;
            margin: 60px auto 0px auto;
            border-radius: 12px;
            border: solid 1px #868558;
            color: #868558;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
        }
    }

    &__offer {

        width: 100%;
        height: 545px;
        background-color: rgba(95, 93, 93, 0.1);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .img {
            width: 370px;
            height: 495px;
            position: absolute;
            bottom: 25px;
        }

        .content {
            text-align: center;

            h5 {
                font-size: 60px;
                font-weight: normal;
                color: #769075;
            }

            p {
                font-size: 40px;
                font-weight: normal;
                color: #464444;
            }
        }
    }

    &__services {
        margin: 60px 0px;
        position: relative;
        min-height: 500px;
        max-height: auto;
        display: flex;
        align-items: center;

        .over_background {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 300px;
            height: 500px;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .cardservices {
            width: 300px;
            height: 320px;
            margin: 0px auto 30px auto;

            .img {
                width: 300px;
                height: 260px;
                border-radius: 15px;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 60px;

                p {
                    text-align: center;
                    color: #616554;
                    font-size: 20px;
                    font-weight: normal;
                }
            }
        }

        
        .slick-slider.slick-initialized {
            width: 100%;
            height: 100%;
            button{
                height: 50%;
                top: 40%;
            }
            button.slick-arrow {
              height: 100%;
              width: 50px;
              z-index: 1;
            }
  
            button.slick-prev {
              left: 0%;
              &::before{
                font-size: 30px;
                color: #769075;
              }
            }
  
            button.slick-next {
              right: 0%;
              &::before{
                font-size: 30px;
                color: #769075;
              }
            }
  
            .slick-list {
              width: 100%;
              height: 100%;
              border-radius: 35px;
  
              .slick-track {
                width: 100%;
                height: 100%;
                border-radius: 35px;
  
                .slick-slide {
                  height: 100%;
                  border-radius: 35px;
  
                  >div {
                    height: 100%;
                    border-radius: 35px;
  
                  }
  
                }
              }
  
            }
  
            .slick-dots {
              li {
                button {
                  &:before {
                    font-size: 12px;
                    color: #5c6349;
                  }
                }
              }
            }
          }
  
    }
}

// Style Card "Home Page" .
.proudects_card {
    width: 100%;
    margin: 0px auto 40px auto;

    .img {
        width: 100%;
        height: 300px;
        border-radius: 15px;
        display: block;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

    }

    .text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        .title {
            overflow: hidden;
            font-family: var(--font-ar);
            font-size: 16px;
            font-weight: normal;
            color: #655959;
            text-overflow: ellipsis;
            height: 25px;
        }

        .end {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .price {
                margin-top: 15px;
                font-family: var(--font-ar);
                font-size: 16px;
                font-weight: normal;
                color: #ff5069;
            }

            .btn-fivorte {
                width: 25px;
                height: 20px;
                border: none;
                background-color: transparent;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

        }
    }
}

.home_card {
    width: 90% !important;
    margin: 0px auto 40px auto;
    background-color: white;
    border-radius: 10px;

    .img {
        width: 100%;
        height: 300px;

    }
}

// Style Card "Proudect All Page" .
.stylecardproudects {
    border: solid 1px #bebebe42;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
}

// Style Card "Proudect Categories Page" .
.proudectcategoriescard {
    width: 98%;
    margin: 0px auto 40px auto;
    border: solid 1px #bebebe42;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;

    .img {
        width: 100%;
        height: 260px;
        border-radius: 15px;
        display: block;
    }
}

.Ar {
    .home {
        font-family: var(--font-ar);

        &__slider {
            .content {
                direction: rtl;
            }
        }

        &__offer {
            .img {
                right: 0%;
            }
        }

        &__proudects {
            direction: rtl;
        }
    }

    .proudects_card {
        .text {
            direction: rtl;

            .title {
                text-align: right;
            }

            .end {
                .price {
                    text-align: right;
                }
            }
        }
    }
}

.En {
    .home {
        &__slider {
            .content {
                direction: ltr;
            }
        }

        &__offer {

            .img {
                left: 0%;
            }
        }
    }

    .proudects_card {
        .text {
            direction: ltr;

            .title {
                text-align: left;
            }

            .end {
                .price {
                    text-align: left;
                }
            }
        }
    }
}




// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 991px) {
    .home {
        overflow: hidden;
        .headr {
            h3 {
                font-size: 36px;
                margin-bottom: 30px;
            }

            span {
                width: 40%;
            }
        }
        &__categories {

            &__row {
                .categories_card {
                    width: 45%;
                    margin-bottom: 20px;

                    .img {
                        height: 320px;
                        width: 100%;
                    }

                    .text {
                        h6 {
                            font-size: 20px;
                            margin: 15px 0px;
                        }
                    }

                }
            }
        }
        &__offer {
    
            .img {
                display: none;
            }
    
            .content {
                h5 {
                    font-size: 48px;
                    margin-bottom: 30px;
                }
    
                p {
                    font-size: 32px;
                }
            }
        }
    }
}

// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 576px) {
    .home {
        .headr {
            margin-bottom: 10px;

            h3 {
                font-size: 28px;
                margin-bottom: 15px;
            }

            span {
                margin: 0px auto 10px auto;
            }
        }

        &__slider {
            height: 60vh;

            .content {
                width: 90%;
                margin: 0px auto;

                h2 {
                    font-size: 40px;
                    margin: 0px;
                }

                p {
                    font-size: 18px;
                    margin: 20px 0px;
                }

                .btn {
                    margin: 20px auto 0px auto;
                    width: 130px;
                    height: 45px;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }

        &__categories {
            margin: 30px 0px;

            &__row {
                .categories_card {
                    margin: 10px auto;

                    .img {
                        height: 200px;
                        width: 100%;
                    }

                    .text {
                        h6 {
                            font-size: 18px;
                            margin: 10px 0px;
                        }
                    }
                }
            }
        }

        &__proudects {

            .show_all {
                display: block;
                width: 200px;
                height: 46px;
                margin: 20px auto 0px auto;
                font-size: 14px;
                line-height: 40px;
            }
        }

        .proudects_card {
            width: 100%;
            margin: 0px auto 40px auto;
        
        
            .text {
                .title {
                    font-size: 14px;
                }
        
                .end {
                    .price {
                        font-size: 14px;
                    }
        
                    .btn-fivorte {
                        width: 17px;
                        height: 17px;
                    }
                }
            }
        }
        
        .home_card {
            width: 100% !important;
            margin: 0px auto 20px auto;
        
            .img {
                width: 100%;
                height: 180px;
            }
        }
        &__offer {
            height: 400px;
            .img {
                display: none;
            }
    
            .content {
                h5 {
                    font-size: 36px;
                    margin-bottom: 30px;
                }
    
                p {
                    font-size: 22px;
                }
            }
        }
    }

    
}