.proudect {
    margin: 50px 0px;
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 16px;
        margin: 50px 0px;

        img {
            width: 7.9px;
            height: 16px;
            margin: 0px 10px;
            object-fit: contain;
            filter: invert(45%) sepia(1%) saturate(2331%) hue-rotate(24deg) brightness(102%) contrast(91%);
        }

        a,
        span {
            font-size: 16px;
            color: #b0b0b0;
        }
    }

    &__ditels {
        .img-cover {
            height: 500px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 16px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 16px;
            }
        }
    }

    &__carousel {
        width: 100%;
        min-height: 100px;

        &__items {
            width: 100%;

            .item {
                img {
                    width: 80%;
                    height: 80px;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                    cursor: pointer;
}
            }
        .slick-slider.slick-initialized {
            width: 100%;
            height: 100%;
            button{
                height: 50%;
                top: 50%;
            }
  
            button.slick-prev {    
                left: -7%;
              &::before{
                font-size: 30px;
                color: #769075;
              }
            }
  
            button.slick-next {
              right: -5%;
              &::before{
                font-size: 30px;
                color: #769075;
              }
            }
  
            .slick-list {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              -webkit-border-radius: 15px;
              -moz-border-radius: 15px;
              -ms-border-radius: 15px;
              -o-border-radius: 15px;
              .slick-track{
                width: 100%;
                height: 100%;
                border-radius: 35px;
  
                .slick-slide {
                  height: 100%;
                  border-radius: 35px;
  
                  >div {
                    height: 100%;
                    border-radius: 35px;
  
                  }
  
                }
              }
  
            }
  
            .slick-dots {
              li {
                button {
                  &:before {
                    font-size: 12px;
                    color: #5c6349;
                  }
                }
              }
            }
          }
        }
    }

    &__data {
        min-height: 500px;
        max-height: auto;

        .over {
            display: block;
            font-size: 14px;
            color: #898989;
            font-weight: normal;
        }

        .revewe {
            flex-direction: row;
            padding: 5px 0px;
            display: flex;
            align-items: center;
            margin: 10px 0px;

            .star {
                width: 76px;
                height: 33px;
                flex-grow: 0;
                border-radius: 20px;
                background-color: #868558;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 14px;
                    color: white;
                }

                img {
                    width: 19px;
                    height: 18px;
                }
            }

            .text {
                font-size: 14px;
                font-weight: normal;
                color: #0055d5;
                text-decoration: underline;
            }

        }

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0px;

            .left {
                font-size: 20px;
                font-weight: normal;
                color: #000;
            }

            .right {
                width: 94px;
                object-fit: contain;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 48px;
                    height: 40px;
                }
                .share_content {
                    width: 94px;
                    height: 35px;
                    line-height: 30px;
                    border-radius: 17.5px;
                    border: solid 1px #333;
                    background-color: #fff;
                    font-size: 12px;
                    text-align: center;
                    color: #333;
                  }
            }
        }

        .price {
            margin: 10px 0px;
            font-size: 20px;
            font-weight: normal;
            color: #000;

            .btn-revewe {
                background-color: transparent;
                font-size: 16px;
                font-weight: normal;
                color: #0055d5;
                cursor: pointer;

                &:hover {
                    border: none;
                }
            }
        }

        .modal {
            .modal-body {
                padding: 0px;

                .content {
                    width: 70%;
                    margin: 5px auto;

                    h4 {
                        font-size: 24px;
                        font-weight: normal;
                        text-align: center;
                        color: #000;
                    }

                    .rating {
                        margin: 15px 0px;
                        text-align: center;
                    }

                    .massege {
                        text-align: center;
                        span {
                            font-size: 16px;
                            font-weight: normal;
                            color: #a2a2a2;
                        }

                        textarea {
                            width: 100%;
                            height: 146.7px;
                            flex-grow: 0;
                            margin: 15px 0px;
                            border-radius: 30px;
                            border: solid 1px #bebebe;
                            padding: 5px;
                        }
                    }
                }
            }

            .modal-header {
                display: flex;
                justify-content: flex-end;

                .btn-close {
                    padding: 0px;
                    margin: 0px;
                    width: 16px;
                    height: 16px;
                }
            }

            .modal-footer {
                .btn {
                    width: 101px;
                    height: 40.7px;
                    color: white;
                    border-radius: 12px;
                    background-color: #868558;
                    display: block;
                    margin: 5px auto 20px auto;
                }
            }

            .modal-footer,
            .modal-header {
                border: none;
            }
        }

        .color,
        .size {
            margin: 30px 0px;

            span {
                font-size: 16px;
                font-weight: normal;

                &:first-of-type {
                    color: #9f9f9f;
                }

                &:last-of-type {
                    color: #000;
                }
            }
        }

        .description {
            margin-top: 20px;
            width: 70%;
            height: 180px;
            border: 1px solid #bebebe;
            border-radius: 20px;
            position: relative;

            font-size: 16px;
            font-weight: normal;
            text-align: right;
            color: #b3b3b3;

            .title_description {
                position: absolute;
                background-color: #ffffff;
                height: 40px;
                border-radius: 15px;
                text-align: center;
                line-height: 35px;
                top: -10%;
            }

            ul {
                margin: 35px 30px;

                li {
                    margin: 5px 0px;
                }
            }
        }
    }

    &__end {
        width: 100%;
        min-height: 100px;
        max-height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .conter {
            width: 100px;
            height: 60px;
            background-color: #efefef;
            border: 1px solid #d9d9d9;
            border-radius: 40px;
            display: flex;
            align-items: center;
            text-align: center;

            .number,
            .plus {
                width: 50%;
                height: 70%;
            }

            .number {
                line-height: 35px;
            }

            .plus {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .btn-plus {
                    background-color: transparent;
                    width: 70%;
                    height: 50%;
                    padding: 0px;
                    line-height: 0px;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        border: none;
                    }

                    img {
                        width: 15px;
                        height: 15px;
                        filter: invert(79%) sepia(8%) saturate(8%) hue-rotate(342deg) brightness(86%) contrast(83%);
                    }

                    &:first-of-type {
                        border-bottom: 1px solid #dbdbdb;
                    }
                }
            }
        }

        .cart {
            display: flex;
            align-items: center;
            margin: 30px 0px;

            .btn-cart {
                padding: 10px 30px;
                background-color: #868558;
                font-size: 14px;
                color: #ffffff;
                border-color: transparent;
                border-radius: 5px;

                &:hover {
                    border-color: transparent;
                }
                &:focus-visible {
                    outline: none;
                }

            }

            .btn-favort {
                font-size: 30px;
                border-color: transparent;
                background-color: transparent;
                border-color: transparent;
                width: 30px;
                height: 44px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 30px;
    height: 35px;
                }
                &:hover {
                    border-color: transparent;
                }
                &:focus-visible {
                    outline: none;
                }
            }
        }

    }

    &__reviewslist {
        margin: 50px 0px;
        h5 {
            font-size: 24px;
            font-weight: normal;
            color: #000;
            margin: 30px 0px;
        }
        .reviewitem {
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            .image {
                width: 40px;
                height: 40px;
                border-radius: 50%;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .contetext {
                min-width: 300px;
                max-width: auto;
                padding: 10px 20px;
                border-radius: 30px;
                border: solid 1px #bebebe;
                position: relative;
                height: auto;
                .title {
                    position: absolute;
                    top: -15%;
                    background-color: white;
                    min-width: 100px;
                    max-width: auto;
                    text-align: center;
                    z-index: 1;
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                }
                .star_list {
                    margin: 5px 10px;
                    display: block;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                .description {
                    margin: 10px;
                    display: block;
                    font-size: 14px;
                    color: #000;
                }
            }

        }
        .button {
            text-align: center;

            button {
                background-color: transparent;
                padding: 8px 45px 8px 45px;
                border-radius: 12px;
                border: solid 1px #868558;
                font-size: 16px;
                font-weight: normal;
                color: #868558;
            }
        }
        .list-all {
            height: 600px;
            overflow-y: auto;
            padding: 10px 0px;
        }
    }

    .similarproducts {
        h4 {
            margin: 50px 0px 40px 0px;
            font-size: 22px;
            font-weight: 500;
            color: #000;
        }
    }
}



.Ar {
    font-family: var(--font-ar);
    .proudect {
        direction: rtl;
        &__data {
            .revewe {
                .star {
                    margin: 0px 0px 0px 25px;
                    img {
                        margin-right: 5px;
                    }
                }
            }
            .price {
                .btn-revewe {
                    margin-right: 20px;
                }
            }
            .color,
            .size {
                span {
                    &:first-of-type {
                        margin-left: 40px;
                    }
                }
            }
            .description {
                text-align: right;
                .title_description {
                    width: 200px;
                    right: 5%;
                }
                ul {
                    li {
                        span {
                            &:first-child {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        &__end {
            .conter {
                flex-direction: row;
                .plus {
                    border-right: 1px solid #dbdbdb;
                }
            }
            .cart {
                .btn-favort {
                    margin-right: 20px;
                }
            }
    
        }
        &__reviewslist {
            h5 {
                text-align: right;
            }
            .reviewitem {
                .image {
                    margin-left: 15px;
                    img {
                        margin-left: 15px;
                    }
                }
                .contetext {
                    .title {
                        right: 20px;
                    }
    
                    .star_list {
                        img {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.En {
    .proudect {
    direction: ltr;
    &__data {
        .revewe {
            .star {
                margin: 0px 25px 0px 0px;
                img {
                    margin-left: 5px;
                }
            }
        }
        .price {
            .btn-revewe {
                margin-left: 20px;
            }
        }
        .color,
        .size {
            span {
                &:first-of-type {
                    margin-right: 40px;
                }
            }
        }

        .description {
            text-align: left;

            .title_description {
                width: 200px;
                left: 5%;
            }

            ul {

                li {

                    span {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    &__end {
        .conter {
            flex-direction: row-reverse;
            .plus {
                border-right: 1px solid #dbdbdb;
            }
        }
        .cart {
            .btn-favort {
                margin-left: 20px;
            }
        }

    }
    &__reviewslist {
        h5 {
            text-align: left;
        }
        .reviewitem {
            .image {
                margin-right: 15px;
                img {
                    margin-right: 15px;
                }
            }
            .contetext {
                .title {
                    left: 20px;
                }

                .star_list {
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
}



// 1- 1- Style Navbar Component To Media Queris Large.
@media screen and (max-width: 576px) {
    .proudect {
        margin: 50px 0px;
        &__link {
            height: 14px;
            margin: 20px 0px;
            a,
            span {
                font-size: 12px;
                color: #b0b0b0;
            }
        }
        &__ditels {
            .img-cover {
                height: 400px;
                width: 90%;
                margin: 20px auto;
            }
        }
        &__data {
    
            .title {
                .left {
                    font-size: 16px;
                }
                .right {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
            .price {
                font-size: 16px;
                .btn-revewe {
                    font-size: 14px;
                }
            }
    
            .modal {
                .modal-body {
                    .content {
                        h4 {
                            font-size: 20px;
                        }
                        .massege {
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
    
                .modal-header {
                    display: flex;
                    justify-content: flex-end;
    
                    .btn-close {
                        padding: 0px;
                        margin: 0px;
                        width: 16px;
                        height: 16px;
                    }
                }
    
                .modal-footer {
                    .btn {
                        width: 101px;
                        height: 40.7px;
                        color: white;
                        border-radius: 12px;
                        background-color: #868558;
                        display: block;
                        margin: 5px auto 20px auto;
                    }
                }
    
                .modal-footer,
                .modal-header {
                    border: none;
                }
            }
    
            .color,
            .size {
                margin: 20px 0px;
                span {
                    font-size: 14px;
                }
            }
    
            .description {
                width: 100%;
                height: 150px;
                font-size: 14px;
            }
        }
        &__carousel {
            width: 100%;
            min-height: 120px;
    
            &__items {
                width: 100%;
    
                .item {
                    img {
                        width: 90%;
                        height: 120px;
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
    }
                }
            }
        }
        &__end {
            margin: 30px 0px;
            .conter {
                width: 100px;
                height: 40px;
                background-color: #efefef;
                border: 1px solid #d9d9d9;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                .number,.plus{
                    width: 50%;
                    height: 70%;
                }
    
                .number {
                    line-height: 25px;
                    font-size: 14px;
                }
    
                .plus {
                    justify-content: space-between;
    
                    .btn-plus {
                        &:first-of-type {
                            border-bottom: none;
                        }
                    }
                }
            }
    
            .cart {
                margin: 30px 0px;
    
                .btn-cart {
                    width: 150px;
                    height: 40px;
                    font-size: 12px;
                }
    
                .btn-favort {
                    font-size: 26px;
                }
            }
    
        }
        &__reviewslist {
            margin: 30px 0px;
    
            h5 {
                font-size: 18px;
                margin: 20px 0px;
            }
    
            .reviewitem {
                margin-bottom: 30px;
    
                .image {
                    width: 30px;
                    height: 30px;
    
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
    
                .contetext {
                    .title {
                        font-size: 14px;
                    }
    
                    .star_list {
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
    
                    .description {
                        font-size: 12px;
                    }
                }
    
            }
    
    
            .button {
                text-align: center;
                button {
                    padding: 8px 20px 8px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}